
/*Header*/

.header-big {
  position: relative;
}

.header-foreground {
  position: relative;
}

.header-overlay,
.header-background,
.header-overlay-second {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header-background {
	background-size: cover;
}

.header-overlay {
  	background-color: #2d6e70;
  	opacity: 0.7;
}
/*
.header-menu {
	height: 85px;
	margin-top: 0;
}*/

.header-menu .layout-item {
  align-items: center;
}

.layout-header { 
    border-bottom: 1px solid #4e6e6f;
}
.inverse-header {
    border-bottom: 1px solid #b8ccc8;
}

.header-contasts .layout-header {
  border-bottom: 1px solid transparent;
}
