.grid {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.child-width-1-3 > * {
    width: calc(100% / 3);
}

.grid-plan .grid-item{
    border: 1px solid #a3bdba;
}

.grid-plan .grid-item, .grid-included  .grid-item{
    display: flex;
    flex: 1 1 0;
}

.grid-team {
	background-color: #eef1ec;
}