:root {
  --button-color: #fff;
  --button-background: #6fb048;
  --button-backgroun-muted: #7e8f90;
  --button-background-dark: #49732f;
  --button-background-light: #83a7a5;

  --button-font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  --button-font-size: 13px;
  --button-font-weight: 400;
  --button-padding: 13px 25px;
  
  --button-padding-small: 6px 13px;
  --button-padding-medium: 12px 27px;
  --button-padding-large: 15px 40px;

  --button-border-radius: 3px;

  --button-height: var(--global-control-height);

  --button-color-hover: #fff;
  --button-background-hover: #49732f;

  --button-color-focus: #fff;
  --button-background-focus: #49732f;

  --button-color-active: #fff;
  --button-background-active: #49732f;
  
  --button-background-muted-hover: #83a7a5;
  --button-background-muted-focus: #83a7a5;
  --button-background-muted-active: #83a7a5;

  --button-background-dark-hover: #a3c68d;
  --button-background-dark-focus: #a3c68d;
  --button-background-dark-active: #a3c68d;

  --button-background-light-hover: #7e8f90;
  --button-background-light-focus: #7e8f90;
  --button-background-light-active: #7e8f90;


}


button,
input[type="button"],
input[type="submit"],
.button,
.button-dark,
.button-muted,
.button-light {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  user-select: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  min-height: var(--button-height);
  text-decoration: none;
  background: var(--button-background);
  color: var(--button-color);
  text-transform: uppercase;
  border-radius: var(--button-border-radius);

}

.button:not(:disabled) {
  cursor: pointer
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button:hover {
  text-decoration: none;
  background: var(--button-background-hover);
  color: var(--button-color-hover);
}

.button:focus {
  outline: none;
  background: var(--button-background-focus);
  color: var(--button-color-focus);
}

.button:active,
.button.is-active {
  background: var(--button-background-active);
  color: var(--button-color-active);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45;
}
.button-muted {
  background-color: var(--button-backgroun-muted);
}
.button-muted:hover, 
.button-muted:focus,
.button-muted:active {
  background-color: var(--button-background-muted-hover);
}
.button-dark { 
  background-color: var(--button-background-dark);
}
.button-dark:hover, 
.button-dark:focus,
.button-dark:active {
  background-color: var(--button-background-dark-hover);
}
.button-light {
  background-color: var(--button-background-light);
}
.button-light:hover, 
.button-light:focus,
.button-light:active {
  background-color: var(--button-background-light-hover);
}
.button-small {
  padding: var(--button-padding-small);
}
.button-medium {
  padding: var(--button-padding-medium);
}
.button-large {
  padding: var(--button-padding-large);
}